@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


*{
  font-family: 'Nunito', sans-serif;
}


.error{
  color:red;
}
.twitterFeed{
  width: 30%;
  float: right;
  overflow-y: scroll;
  max-height: 100vh;
}

/* Navbar container */
.navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(75,0,130,0.8);
  top: 0px;
  width: 100%;
  position: absolute;
  /* border-bottom: 1px solid black; */
}

/* Links inside the navbar */
.navbar .toolbarItem {

  font-size: 18px;
  color: white;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  font-weight: bold;
}

.navbar .toolbarItem.goLeft{
  float:left;
}
.navbar .toolbarItem.goRight{
  float:right;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  display: block;
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;

  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.toolbarItem:hover, .dropdown:hover .dropbtn {
  background-color: white;
  padding: 14px 12px;
  color: lime;
  transition: 0.5s;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  left:0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: fit-content;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 50;
  width: 150px;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #eee;
  height: 50;
  width: 150px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tab_format{
  padding : 5px;
  text-align: center;
}

.teamName{
  padding: 10px;
  text-align: left;
}

.right {
  position: absolute;

  right: 20px;
  width: 500px;
  padding: 10px;
}

.top-pic {
  transition: all 1.3s
}
svg:hover .top-pic {
  fill: lime;
}

.content-table {
  border-collapse: collapse;
  font-size: 1.1em;
  min-width:100px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr {
  background-color: rgba(75,0,130,0.8);
  color: white;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 8px 10px;
}

.content-table tbody tr{
  /* border-bottom: 1px solid indigo; */
}

.content-table tr:hover td{
  background: #F8F8F8;
  transition: all 0.9s;
}

.bgcol {
  opacity: 0.3;
}

.teamName {
  text-decoration:none;
  font-weight:bold;
  color:  inherit;
}

.pad {
  padding-right: 50px;
  align: center;
}

.log-box {
  height: 250px;
  width: 35%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  position:absolute;
  margin: auto;
}

.center {
  margin: auto;
  width: 33%;
  padding: 10px;
}

#bar{
  background-color:grey;
  height:20px;
  width: 20px;
  display: block;
  margin-left: 150px;
}

.grow-enter-active {
  animation: grow-in 1s linear;
}
.grow-leave-active {
  animation: grow-in 1s linear reverse;
}
@keyframes grow-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.barText{
  float:left;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
}

.barLabel{
  position: relative;
}
.switchButton{
  float:left;
  display: block;
  padding: 2px;
}

.fixedTable {
  width:900px;
  table-layout: fixed;
}

.recentView {
  width: 300px;
}

.center {
  margin:auto;
  width: 30%;
  padding: 20px;

}

.left {
  float: left;
}
